.Daily {
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin: auto;

  padding: 10px 0;
}

.Daily__title-h3 {
  margin-top: 0;
}

.Daily__segment {
  width: 80%;
}

.Daily__temp-div,
.Daily__prec-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding: 5px 0;
  overflow-x: scroll;
}

.Daily__section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 5px 0 15px 0;
}

.Daily__section-header-label {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.5;
  margin-top: 5px;
}
