.Hourly {
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin: auto;

  padding: 10px 0;
}

.Hourly__title-h3 {
  margin-top: 0;
}

.Hourly__segment {
  width: 80%;
}

.Hourly__temp-div,
.Hourly__prec-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding: 5px 0;
  overflow-x: scroll;
}

.Hourly__section-header {
  padding-bottom: 10px;
}
