.Search__search-IonItem {
  --background: transparent;
  --border-color: var(--ion-text-color, #000);
  --color: var(--ion-text-color, #000);
  --highlight-background: transparent;
}

.Search__search-IonLabel {
  color: var(--ion-text-color, #000) !important;
}

.Search__cities-list-city-div {
  width: 100%;
  padding: 5px 10px;
}

.Search__cities-list-city-div-inner {
  width: 100%;
  padding: 10px;
  margin: 2.5px 0;
  border: 1px solid var(--ion-text-color, #000);
  border-radius: 5px;
  text-align: center;
}
